@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*  colors import from https://htmlcolorcodes.com/ */
html {
    height: 100%;
    overflow: hidden;
}
body{
    all: unset;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* display: inline-block; */
    background: #f9f9f9;
}

#__next{
    height: 100%;
    display: flex;
}